### Lambda function

In [1]:
# Traditional way

def mySquareFunction(num):
    return num**2

In [15]:
print(type(mySquareFunction))

<class 'function'>

In [2]:
mySquareFunction(7)

49

In [3]:
# Lambda function
mySqrLmbdaFun = lambda x : x**2

In [4]:
mySqrLmbdaFun(5)

25

In [5]:
# Addition using Lambda function
myAdd = lambda num1, num2, num3 : num1+num2+num3

In [6]:
myAdd(5,6,7)

18

In [19]:
print(myAdd)

<function <lambda> at 0x0000024DD5631DA0>

In [18]:
try:
    myAdd(5,6,7,8)
except Exception as e:
    print(f'Error encountered: {e}')

Error encountered: <lambda>() takes 3 positional arguments but 4 were given

In [11]:
print(type(myAdd))

<class 'function'>

In [9]:
# Multiplication using Lambda function
myMul = lambda num1, num2 : num1*num2

In [10]:
myMul(5,4)

20

In [ ]:
# Function inside a lambda function
myLambdaFunction = lambda x: abs(x)

In [17]:
myLambdaFunction(-5)

5

#### Test of return vs void using lambda

In [ ]:
myLambdaFunction1 = lambda x: x # it returns by default

In [21]:
value1 = myLambdaFunction1(5)

In [22]:
print(value1)

5

In [23]:
myLambdaFunction2 = lambda x: print(x)

In [24]:
value2 = myLambdaFunction2(22)

22

In [25]:
print(value2)

None

In [26]:
# Check if lambda function is actually nameless
print((lambda x:x**3)(5))

125

In [27]:
print((lambda a,b,c : a*b*c)(1,2,3))

6

#### WAP to take users name and prints the first character using lambda function

In [18]:
try:
    userName = input("Enter your name: ")
    firstChar = (lambda x : x[0])(userName)
    print(f'The first character in {userName} is \'{firstChar}\'')
except Exception as e:
    print(f'Error encountered: {e}')

The first character in raman is 'r'

#### WAP to which return True if number is even else return False

In [24]:
try:
    checkNumberEven = int(input("Enter a valid natural number to check if Even: "))
    myEvenCheckFunction = lambda x : True if x%2==0 else False
    result = myEvenCheckFunction(checkNumberEven)
    print(f'The entered number {checkNumberEven} is even: {result}')
except Exception as e:
    print(f'error encountered: {e}')

The entered number 8 is even: True

In [28]:
# Alternate approach as comparison operator anyhow returns bool only
ans2 = lambda number : number%2==0

### LGC 

### CTM

In [10]:
# New concept - CTM (Higher order function)
def myNewFunction(value,function):
    return function(value)

In [2]:
def square(number):
    return number*number

In [3]:
myNewFunction(5,square)

25

### LGC

#### How do we use lambda function?

#### Problem statement: if we have a variable x, we want to print its square, cube, power of 4, absolute value.

In [5]:
myNewFunction(5, lambda x:x**2)

25

In [ ]:
myNewFunction(5, lambda x:x**2)

25

In [7]:
myNewFunction(5, lambda x:x**3)

125

In [9]:
myNewFunction(5, lambda x:x**4)

625

In [8]:
myNewFunction(-5, lambda x:abs(x))

5

#### WAP to take input a list of 5 number from user and square each number and store it back.

In [16]:
# Approach 1 - My try
l1 = [int(input()) for i in range(5)]
l_square = [i**2 for i in l1]
l_square

[7921, 25, 16, 36, 625]

### Map function

> Very much used in Spark, Hadoop, Bigdata

In [17]:
cubeFunction = lambda x : x**3

In [18]:
myList = [1,2,3,4,5]

In [19]:
list(map(cubeFunction,myList))

[1, 8, 27, 64, 125]

In [20]:
myList1 = [1,-2,-3,-4,5,6,7]

In [27]:
mapOutput = map((lambda x: abs(x)),myList1) # It generates an iterator

In [25]:
list(mapOutput)

[1, 2, 3, 4, 5, 6, 7]

In [28]:
tuple(mapOutput)

(1, 2, 3, 4, 5, 6, 7)

### Filter function

#### WAP to remove vowels from a name

In [ ]:
# Option 1 - My approach
name = 'abra ca dabra'
def removeVowel(x):
    newName = ''
    for char in x:
        if(char in 'aeiou'):
            pass
        else:
            newName = newName+char
    return newName

In [35]:
removeVowel(name)

'br c dbr'

In [39]:
filterOutput = filter((lambda x : True if x not in 'aeiou' else False), 'abra ca dabra')

# lambda function similar to below function
def filter_vowels(alphabet):
    if alphabet not in 'aeiou':
        return True
    else:
        return False

In [42]:
filter_vowels('a')

False

In [43]:
filter_vowels('b')

True

In [38]:
list(filterOutput)

['b', 'r', ' ', 'c', ' ', 'd', 'b', 'r']

In [41]:
# Another way to understand filter function
list(map(filter_vowels,'mayank'))

[True, False, True, False, True, True]

In [44]:
list(filter(filter_vowels,'mayank')) # only returning values where the map function returned True

['m', 'y', 'n', 'k']

In [45]:
list(map(lambda x:x*x,[1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [46]:
list(filter(lambda x:x*x,[1,2,3,4,5]))

[1, 2, 3, 4, 5]

In [47]:
list(filter(lambda x:x*x,[0,1,2,3,4,5]))

[1, 2, 3, 4, 5]

#### Always remember that the filter function always return the original values from the given iterable. It can use the function & do calculations like square but based on the condition of those results (i.e. True/False), it would always return the original values from the passed iterable.

In [50]:
# A filter function that don't let pass anything
list(filter(lambda x: 0, [0,1,2,5,4,8,7,64]))

[]

In [55]:
# A filter function that passes everything
list(filter(lambda x: 1, [0,1,2,5,4,8,7,64])) # even when 0 is passed. We tricked the logic of function which always passes True 
# for every value.

[0, 1, 2, 5, 4, 8, 7, 64]

### Enumerate function

In [56]:
index = 0

for elem in 'karan':
    print(f'index is {index} and elem is {elem}')
    index+=1

index is 0 and elem is k
index is 1 and elem is a
index is 2 and elem is r
index is 3 and elem is a
index is 4 and elem is n

In [57]:
enumerate('karan')

In [64]:
list(enumerate('karan')) # it is giving us iterable of tuples (as we can also use tuple function instead of list)

[(0, 'k'), (1, 'a'), (2, 'r'), (3, 'a'), (4, 'n')]

In [59]:
newList = list(enumerate('karan'))

In [65]:
a,b = (1,2)

In [67]:
a,b

(1, 2)

In [68]:
print(a,b,sep="\n")

1
2

In [62]:
for i,v in newList:
    print(f'index is {i} and elem is {v}')

index is 0 and elem is k
index is 1 and elem is a
index is 2 and elem is r
index is 3 and elem is a
index is 4 and elem is n

In [69]:
for index, element in list(enumerate("abra ca dabra")):
    print(f'index is {index} and element is {element}')

index is 0 and element is a
index is 1 and element is b
index is 2 and element is r
index is 3 and element is a
index is 4 and element is
index is 5 and element is c
index is 6 and element is a
index is 7 and element is
index is 8 and element is d
index is 9 and element is a
index is 10 and element is b
index is 11 and element is r
index is 12 and element is a

In [70]:
list(enumerate('python',2))

[(2, 'p'), (3, 'y'), (4, 't'), (5, 'h'), (6, 'o'), (7, 'n')]

In [72]:
for index,element in list(enumerate('python',1)): # if we want to start indexing with 1
    print(f'index is {index} and element is {element}')

index is 1 and element is p
index is 2 and element is y
index is 3 and element is t
index is 4 and element is h
index is 5 and element is o
index is 6 and element is n

In [1]:
from functools import reduce

In [3]:
reduce(lambda x,y : x*y, [1,2,3,4,5])

120

In [4]:
reduce(lambda x,y : x+y, [1,2,3,4,5])

15