WAP to take input of two numbers from user and add them.

In [2]:
try:
    print("It's your personal calculator. I will help you add two numbers. So, what are you waiting for?")
    num1 = int(input("Enter the first number: "))
    num2 = int(input("Enter the first number: "))
    addition = num1 + num2
    print("Here you go! The addition of your given numbers:", num1, "and", num2, "is:", addition, sep=" ")
except Exception as e:
    print("Error encountered",e,sep=" ")
    print("Try again as you entered an non-integer or string which is an invalid input!")

It's your personal calculator. I will help you add two numbers. So, what are you waiting for?
Here you go! The addition of your given numbers: 54 and 78 is: 132

In [3]:
str = '5 10'

In [4]:
str.split( )

['5', '10']

In [5]:
str_sp_char = '4@5@6'

In [7]:
str_sp_char.split('@')

['4', '5', '6']

In [8]:
str_sp_char

'4@5@6'

In [9]:
a,b,c = str_sp_char.split('@')

In [12]:
print(a,b,c,sep="\n")

4
5
6

#### WAP to take input from user his age, name, and marks and show output as

1. name in opposite direction (reversed)

2. age as how many years left in turning 100

3. marks as how much are they out of 100

In [7]:
try:
    print("I am student school directory but with a twist. I will save your information but encrypt it. Wanna see?ü§ñ")
    std_name = input("Enter your name: ")
    std_age = int(input("Enter your age: "))
    std_marks = int(input("Enter your marks: "))
    std_name_rvrsd = std_name[::-1]
    std_ytc = 100 - std_age
    std_o100 = std_marks/100
    print("Let me show you the magic. Your encrypted name isüßô‚Äç‚ôÇÔ∏è", std_name_rvrsd, "üßô‚Äç‚ôÇÔ∏è,""\n","You have ", std_ytc," years to be 100!","\n","Your marks are ", std_o100," in proportion to 1ü§ñ",sep="")
except Exception as e:
    print("Uh-oh! Error encounted. Try again!:",e,sep=" ")

I am student school directory but with a twist. I will save your information but encrypt it. Wanna see?ü§ñ
Let me show you the magic. Your encrypted name isüßô‚Äç‚ôÇÔ∏èinamiHüßô‚Äç‚ôÇÔ∏è,
You have 65 years to be 100!
Your marks are 0.87 in proportion to 1ü§ñ

## Very very important

### print( ) statement

In [ ]:
# Option 1 - Traditional method 
print("Years left to turn century "+str(std_ytc)) # concatenate two strings

Years left to turn century 65

#### Option 2 - Format Specifier

In [1]:
name = 'karan'
age = 15

In [ ]:
print("name is %s and age is %i" %(name,age))

name is karan and age is 15

In [8]:
# No. of format specifier and variable should match
try:
    print("name is %s and age is %d" %(name))
except Exception as e:
    print("Error encountered: ",e,sep="")

Error encountered: not enough arguments for format string

In [6]:
print("name is %s and age is %d" %(name,age))

name is karan and age is 15

In [ ]:
# str can be used for non-str value
print("name is %s and age is %s" %(name,age))

name is karan and age is 15

In [10]:
# %d cannot be used for strings
try:
    print("name is %d and age is %s" %(name))
except Exception as e:
    print("Error encountered: ",e,sep="")

Error encountered: %d format: a real number is required, not str

In [11]:
decNumber = 5.66463264

In [12]:
print("number is %d" %(decNumber))

number is 5

In [13]:
print("number is %f" %(decNumber))

number is 5.664633

In [14]:
print("number is %s" %(decNumber))

number is 5.66463264

In [ ]:
print("number is %.2f" %(decNumber)) # upto 2 decimal places

number is 5.66

In [ ]:
print("number is %.3f" %(decNumber)) # upto 3 decimal places

number is 5.665

In [ ]:
print("number is %.4f" %(decNumber)) # upto 4 decimal places

number is 5.6646

In [ ]:
print("number is %.5f" %(decNumber)) # upto 5 decimal places

number is 5.66463

#### Option 3 - Format Argument (New way)

In [19]:
print("my name is {} and my age is {}".format(name,age))

my name is karan and my age is 15

In [20]:
print("my name is {0} and my age is {1}".format(name,age))

my name is karan and my age is 15

In [21]:
print("my name is {1} and my age is {0}".format(name,age))

my name is 15 and my age is karan

In [22]:
print("my name is {0} and my age is {0}".format(name,age))

my name is karan and my age is karan

In [23]:
try:
    print("my name is {} and my age is {0}".format(name,age))
except Exception as e:
    print("Error encountered: {}".format(e))
finally:
    print("Summary: It has to be either all empty or all full.")

Error encountered: cannot switch from automatic field numbering to manual field specification
Summary: It has to be either all empty or all full.

In [26]:
try:
    print("my name is {0} and my age is {1}".format(name,))
except Exception as e:
    print("Error encountered: {}".format(e))
finally:
    print("Summary: Even in formatting, we need two arguments.")

Error encountered: Replacement index 1 out of range for positional args tuple
Summary: Even in formatting, we need two arguments.

In [28]:
print("my name is {name} and my age is {age}".format(name=name,age=age))

my name is karan and my age is 15

In [29]:
print("my name is {a} and my age is {b}".format(a=name,b=age))

my name is karan and my age is 15