## List

In [1]:
myList = []

In [2]:
type(myList)

list

In [ ]:
myList2 = [1, 2, 3, 4,5] # homogenous list

In [5]:
type(myList2)

list

In [ ]:
myList3 = [1,'karan',2.4,True,2+5j] # heterogenous list

In [3]:
myList3

[1, 'karan', 2.4, True, (2+5j)]

In [8]:
len(myList3)

5

In [ ]:
# How to create your own length function
def myLenFunc(l):
    length = 0
    for i in l:
        length+=1
    print(length)

In [10]:
myLenFunc(myList3)

5

In [4]:
myList3

[1, 'karan', 2.4, True, (2+5j)]

In [5]:
myList3[0]

1

In [8]:
myList3[2]

2.4

### List elements are changaeble and can be modified

In [9]:
myList3[0] = 10000

In [10]:
myList3

[10000, 'karan', 2.4, True, (2+5j)]

In [11]:
myNewList = myList3[0:2]

In [12]:
myNewList

[10000, 'karan']

In [13]:
myNewList2 = myList3[0:5:2]

In [14]:
myNewList2

[10000, 2.4, (2+5j)]

In [ ]:
for i in myList3: # element
    print(i)

10000
karan
2.4
True
(2+5j)

In [ ]:
for i in range(len(myList3)): # position or index
    print(myList3[i])

10000
karan
2.4
True
(2+5j)

## List function

In [1]:
li = list()

In [2]:
li

[]

In [3]:
type(li)

list

In [4]:
li2 = list('karan manchanda')

In [5]:
li2

['k', 'a', 'r', 'a', 'n', ' ', 'm', 'a', 'n', 'c', 'h', 'a', 'n', 'd', 'a']

In [7]:
try:
    li3 = list(100)
except Exception as e:
    print(f'error encountered: {e}')

error encountered: 'int' object is not iterable

In [8]:
for i in 'karan manchanda':
    print(i)

k
a
r
a
n

m
a
n
c
h
a
n
d
a

In [9]:
try:
    list(10,20,30)
except Exception as e:
    print(f'error encountered: {e}')

error encountered: list expected at most 1 argument, got 3

In [10]:
li4 = list((10,20,30))

In [11]:
li4

[10, 20, 30]

## Indexing and Slicing

In [12]:
try:
    li5=list((10))
except Exception as e:
    print(f'error encountered: {e}')

error encountered: 'int' object is not iterable

In [ ]:
li5=list((10,)) # tuple - for a single element

In [14]:
li5

[10]

In [17]:
li6=list('m')

In [18]:
li6

['m']

In [19]:
li7 = [1,2,3,'mayank',5,8]

In [21]:
type(li7[3])

str

### How to access 'y' in mayank in above list

In [20]:
li7[3][2]

'y'

In [23]:
li8 = [1,2,3,'mayank',5,8,['first','second']]

In [25]:
li8[-1][-1][-3] # How to access 'o' from second in the above list

'o'

### Membership in List

In [26]:
li8

[1, 2, 3, 'mayank', 5, 8, ['first', 'second']]

In [27]:
2 in li8

True

In [28]:
'mayank' in li8

True

In [29]:
'Mayank' in li8

False

In [30]:
'first' in li8

False

In [31]:
['first', 'second'] in li8

True

In [32]:
'123' not in li8

True

In [33]:
reviews = ['good food','bad food','great service','bad service']

In [37]:
service_reviews = list()
for item in reviews:
    if 'service' in item:
        service_reviews.append(item)

In [38]:
service_reviews

['great service', 'bad service']

In [43]:
all_emails = ['abc@gmail.com','abc@gmail.com','abc@gmail.com','abc@gmail.com','abc@yahoo.com','abc@yahoo.com']

In [44]:
gmail_accounts = list()

for email in all_emails:
    if '@gmail.com' in email:
        gmail_accounts.append(email)

gmail_accounts

['abc@gmail.com', 'abc@gmail.com', 'abc@gmail.com', 'abc@gmail.com']

## Methods vs. Function

In [48]:
len(all_emails) # Function

6

In [49]:
type(all_emails)

list

In [ ]:
all_emails.count('abc@gmail.com') # Method

4

## Functions

1. len()

2. max()

3. min()

4. sum()

5. sorted()

6. any()

7. all()

8. list()

In [51]:
newList = [1,2531,5310,21,513]

In [52]:
newList2 = [1,'karan','python',True,513]

In [53]:
len(newList)

5

In [54]:
max(newList)

5310

In [56]:
try:
    max(newList2)
except Exception as e:
    print(f'Error encountered: {e}')

Error encountered: '>' not supported between instances of 'str' and 'int'

In [57]:
newList3 = [1,2,'3',4,'5']

In [58]:
try:
    max(newList3)
except Exception as e:
    print(f'Error encountered: {e}')

Error encountered: '>' not supported between instances of 'str' and 'int'

In [60]:
# How to solve above?
myMax = 0
for num in newList3:
    if(myMax < int(num)):
        myMax = int(num)

In [61]:
myMax

5

In [62]:
myStringList = ['a','b','c']

In [ ]:
max(myStringList)

'c'

In [64]:
min(newList)

1

In [65]:
try:
    max(newList2)
except Exception as e:
    print(f'Error encountered: {e}')

Error encountered: '>' not supported between instances of 'str' and 'int'

In [66]:
min(myStringList)

'a'

In [67]:
print(newList)
print(newList2)
print(myStringList)

[1, 2531, 5310, 21, 513]
[1, 'karan', 'python', True, 513]
['a', 'b', 'c']

In [68]:
print(sum(newList))

8376

In [69]:
try:
    print(sum(newList2))
except Exception as e:
    print(f'Error encountered: {e}')

Error encountered: unsupported operand type(s) for +: 'int' and 'str'

In [70]:
try:
    print(sum(myStringList))
except Exception as e:
    print(f'Error encountered: {e}')

Error encountered: unsupported operand type(s) for +: 'int' and 'str'

Note: A natural question arises that why did we not contatenate here as sum means concatenate strings. The reason is simple. It is sum, which can also means addition or also the addition of their ascii values, so there is ambiguity.

In [ ]:
sorted(newList) # By default, it is ascending order.

[1, 21, 513, 2531, 5310]

In [72]:
try:
    sorted(newList2)
except Exception as e:
    print(f'Error encountered: {e}')

Error encountered: '<' not supported between instances of 'str' and 'int'

In [ ]:
sorted(myStringList,reverse=True) # Use reverse argument to change the order to descending

['c', 'b', 'a']

In [75]:
sorted(myStringList,reverse=1)

['c', 'b', 'a']

In [76]:
any(newList)

True

In [77]:
listToExplainAny = [0,0,0,False]

In [79]:
any(listToExplainAny)

# Return True if bool(x) is True for any x in the iterable.

False

In [80]:
listToExplainAny = [0,0,0,1]

In [81]:
any(listToExplainAny)

True

In [82]:
all(listToExplainAny)

False

In [83]:
list1 = [True,True,True,False]

In [84]:
any(list1)

True

In [85]:
all(list1)

False

In [86]:
list2 = [-1,0,False]

In [87]:
any(list2)

True

In [88]:
all(list2)

False

In [90]:
a='mayank'
sorted(a) # sorted takes an iterable as an argument and returns a sorted list

['a', 'a', 'k', 'm', 'n', 'y']

## List Concatenation

In [91]:
l1 = ['a','b','c']

In [92]:
l2 = ['d','e','f']

In [93]:
l1+l2

['a', 'b', 'c', 'd', 'e', 'f']

In [94]:
l1*3

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [95]:
try:
    l1+3
except Exception as e:
    print(f'Error encountered: {e}')

Error encountered: can only concatenate list (not "int") to list

In [96]:
try:
    l1-3
except Exception as e:
    print(f'Error encountered: {e}')

Error encountered: unsupported operand type(s) for -: 'list' and 'int'

In [97]:
try:
    l1/3
except Exception as e:
    print(f'Error encountered: {e}')

Error encountered: unsupported operand type(s) for /: 'list' and 'int'

In [99]:
try:
    l1*l2
except Exception as e:
    print(f'Error encountered: {e}')

Error encountered: can't multiply sequence by non-int of type 'list'

In [100]:
try:
    l1-l2
except Exception as e:
    print(f'Error encountered: {e}')

Error encountered: unsupported operand type(s) for -: 'list' and 'list'

In [98]:
try:
    l1/l2
except Exception as e:
    print(f'Error encountered: {e}')

Error encountered: unsupported operand type(s) for /: 'list' and 'list'

## List Methods

1. append()

2. extend()

3. insert()

4. index()

5. count()

6. remove()

7. pop()

8. clear()

9. reverse()

10. sort()

11. copy()

### append()

In [101]:
l1

['a', 'b', 'c']

In [102]:
l1.append(1)

In [103]:
l1

['a', 'b', 'c', 1]

In [104]:
l1.append('abc')

In [105]:
l1

['a', 'b', 'c', 1, 'abc']

In [107]:
l1.append((1,2))

In [108]:
l1

['a', 'b', 'c', 1, 'abc', (1, 2)]

In [112]:
l1.append(list(range(2)))

In [113]:
l1

['a', 'b', 'c', 1, 'abc', (1, 2), [0, 1]]

### extend()

In [114]:
l1.extend('karan')

In [115]:
l1

['a', 'b', 'c', 1, 'abc', (1, 2), [0, 1], 'k', 'a', 'r', 'a', 'n']

In [116]:
l1.extend([1,2,3,'karan',True])

In [117]:
l1

['a',
 'b',
 'c',
 1,
 'abc',
 (1, 2),
 [0, 1],
 'k',
 'a',
 'r',
 'a',
 'n',
 1,
 2,
 3,
 'karan',
 True]

In [118]:
l3 = list('999999999999999')

In [120]:
l3.extend('000')

In [121]:
l3

['9',
 '9',
 '9',
 '9',
 '9',
 '9',
 '9',
 '9',
 '9',
 '9',
 '9',
 '9',
 '9',
 '9',
 '9',
 '0',
 '0',
 '0']

### insert()

In [122]:
l1 = ['a','b','c']

In [123]:
l1

['a', 'b', 'c']

In [124]:
l1.insert(2,'d')

In [125]:
l1

['a', 'b', 'd', 'c']

In [126]:
l1.insert(1,'e')

In [127]:
l1

['a', 'e', 'b', 'd', 'c']

In [128]:
l1.insert(100,'f')

In [130]:
# if we are giving beyond index, it adds to the end.
l1

['a', 'e', 'b', 'd', 'c', 'f']

In [131]:
l1.insert(99,'abc')

In [132]:
l1

['a', 'e', 'b', 'd', 'c', 'f', 'abc']

In [133]:
l1.insert(3,'def')

In [134]:
l1

['a', 'e', 'b', 'def', 'd', 'c', 'f', 'abc']

### index()

In [135]:
l1

['a', 'e', 'b', 'def', 'd', 'c', 'f', 'abc']

In [136]:
l4 = [1,2,3,2,1,6]

In [137]:
l4.index(2)

1

### append(): add the object value at the end.

### extend(): will place the elements of the iterable at the end, will throw error error if a non-iterable value is passed.

### insert(): will place the value in the index defined. Even if the index passed while inserting is out of range, Python doesn't throw error but will add the value at the end.

### count()

In [139]:
l4

[1, 2, 3, 2, 1, 6]

In [140]:
l4.count(1)

2

In [141]:
l4.count(5)

0

### remove()

In [142]:
l4.remove(1)

In [143]:
l4

[2, 3, 2, 1, 6]

In [144]:
try:
    l4.remove(5)
except Exception as e:
    print(f'error encountered: {e}')

error encountered: list.remove(x): x not in list

In [145]:
if l4.count(5)!=0:
    l4.remove(5)

#### WAP to remove all occurence of 1 from the below list. Don't create new list.

In [152]:
givenList = [1,4,6,2,1,4,1,5,1,54,1,6]

In [148]:
for num in givenList:
    if num==1 and givenList.count(num)!= 0:
        givenList.remove(num)
print(givenList)

[4, 6, 2, 4, 5, 54, 6]

In [150]:
while givenList.count(1) !=0:
    givenList.remove(1)

In [151]:
givenList

[4, 6, 2, 4, 5, 54, 6]

In [153]:
while 1 in givenList:
    givenList.remove(1)

In [154]:
givenList

[4, 6, 2, 4, 5, 54, 6]

In [156]:
givenList.remove(2)

In [157]:
givenList

[4, 6, 4, 5, 54, 6]

### pop()

In [158]:
givenList

[4, 6, 4, 5, 54, 6]

In [159]:
givenList[2]

4

In [162]:
# Remove and return item at index (default last).
givenList.pop()

54

In [163]:
givenList

[4, 6, 4, 5]

In [164]:
givenList.pop(0)

4

In [165]:
givenList

[6, 4, 5]

In [166]:
givenList.pop()
givenList.pop()
givenList.pop()

6

In [167]:
givenList

[]

In [169]:
givenList = [1,2,3,4,5,6]

In [ ]:
# Can also help to print a list in reverse order
while len(givenList)!= 0:
    print(givenList.pop())

6
5
4
3
2
1

#### removes work on value

#### pop works on index

### clear()

In [179]:
givenList = [1,2,3,4,5,6]

In [180]:
givenList.clear()

In [181]:
givenList

[]

In [176]:
del(givenList)

In [178]:
try:
    print(givenList)
except Exception as e:
    print(f'error encountered: {e}')

error encountered: name 'givenList' is not defined

### delete: deletes the bag itself

### clear: clear only empties the bag

### reverse()

In [185]:
givenList = [1,20,34,42,555,62]

In [183]:
givenList.reverse()

In [184]:
givenList

[62, 555, 42, 34, 20, 1]

In [187]:
givenList[::-1] # Equivalent to reverse

[62, 555, 42, 34, 20, 1]

### sort()

In [188]:
givenList

[1, 20, 34, 42, 555, 62]

In [189]:
givenList.reverse()

In [190]:
givenList

[62, 555, 42, 34, 20, 1]

In [191]:
givenList.sort()

In [192]:
givenList

[1, 20, 34, 42, 62, 555]

In [199]:
givenList.sort(reverse=1)

In [200]:
givenList

[555, 62, 42, 34, 20, 1]

### copy()

In [193]:
givenList = [1,20,34,42,555,62]

In [194]:
newCopList = givenList.copy()

In [195]:
newCopList

[1, 20, 34, 42, 555, 62]

In [196]:
id(givenList)

2138707958208

In [198]:
id(newCopList)

2138711009600

### Shallow Copy

In [201]:
givenList = [1,20,34,42,555,62]

In [202]:
shallowGivenList = givenList

In [203]:
shallowGivenList

[1, 20, 34, 42, 555, 62]

In [204]:
shallowGivenList.pop()

62

In [205]:
shallowGivenList

[1, 20, 34, 42, 555]

In [206]:
givenList

[1, 20, 34, 42, 555]

In [207]:
id(shallowGivenList)

2138702075584

In [208]:
id(givenList)

2138702075584

### Homework : Deep Copy vs Shallow Copy