## List Comprehension

### OPT (speeds up the excecution)

### WAP to create a list of first 10 natural numbers.

In [ ]:
# Option 1: Using traditional method
try:
    lisNatNum = list()
    countNum = 10
    for natNum in range(countNum+1):
        if natNum == 0:
            continue
        lisNatNum.append(natNum)
    print(f'The first {countNum} natural numbers are: {lisNatNum}')
except Exception as e:
    print(f'Error encountered: {e}')
finally:
    print("Task finished!")

The first 10 natural numbers are: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Task finished!

In [4]:
lisNatNum

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
# Option 2: Using List Comprehension
try:
    countNum = 10
    lisNatNum = [natNum for natNum in range(1,countNum+1)]
    print(f'The first {countNum} natural numbers are: {lisNatNum}')
except Exception as e:
    print(f'Error encountered: {e}')
finally:
    print("Task finished!")

The first 10 natural numbers are: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Task finished!

### WAP to store first 10 even numbers in a list.

In [ ]:
# Option 1 - using relevant step in range function
lisEvenNum = [num for num in range(2,21,2)]
lisEvenNum

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# Option 2 - using if condition
lisEvenNum = [num for num in range(1,21) if num%2==0]
lisEvenNum

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### WAP to find the square of first 10 natural numbers.

In [ ]:
# Option 1 - using exponential operator
squareList = [num**2 for num in range(1,11)]
squareList

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# Option 2 - using num*num
squareList = [num*num for num in range(1,11)]
squareList

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### WAP to find the square of first 5 even natural numbers.

In [11]:
squareList = [num*num for num in range(1,11) if num%2==0] # condition is optional
squareList

[4, 16, 36, 64, 100]

In [9]:
def power(num):
    return num*num

In [10]:
# Option 3 - Using a function
squareList = [power(i) for i in range(1,11)]
squareList

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Let's see some more examples of List Comprehension.

In [1]:
helloList = ['hello' for num in range(0,2)]
helloList

['hello', 'hello']

In [3]:
fiveList = [5 for num in range(0,2)]
fiveList

[5, 5]

In [4]:
nestList = [[1,2] for num in range(0,2)]
nestList

[[1, 2], [1, 2]]

In [5]:
nestList = [list((1,2)) for num in range(0,2)]
nestList

[[1, 2], [1, 2]]

## WAP to create a nested list having two elements which are also a list of two elements using range function.

### LGC

In [7]:
# Tradition Approach - using Nested loop
nestList = []
for outerLoop in range(1,3):
    innerList = []
    for innerLoop in range(1,3):
        innerList.append(innerLoop)
    nestList.append(innerList)
nestList

[[1, 2], [1, 2]]

#### How to do this with List Comprehension.

In [11]:
nestList = [[innerLoop for innerLoop in range(1,3)] for outerLoop in range(1,3)]
nestList

#Note: If you get confused, refer to the above examples as they are the building blocks.

# [[j for j in range(1,3)] for i in range(1,3)]
# Here, i = [j for j in range(1,3)] --> which itself is a list, i.e., [1,2]
# equivalent to [[1,2] for i in range(1,3)] --> example discussed above

[[1, 2], [1, 2]]

### A complex topic but let's see how we keep on expanding dimensions in List Comprehension.

### LGC

In [ ]:
# [[[[reviews for reviews in allReviews if ratings <=3] for restaurant in allRestaurant] for location in allLocation] for country in allCountry]

# Step 1: We start with the innermost loop: i: [reviews for reviews in allReviews if ratings <=3]
# Step 2: We add the first dimension, i.e., restaurant: r: [i for restaurant in allRestaurant] => where i comes from Step 1
# Step 3: We add the second dimenion, i.e., location: l: [r for location in allLocation] => where r comes from Step 2
# Step 4: We add the third dimension, i.e., country: c: [l for country in allCountry] => where l comes from Step 3

## Summary Step: We need not go from Step 1 to Step 4, instead, we can simply start writing from innermost loop and keep on adding dimension
# by for <dimension> in <allDimension> as a list to the already available list.

In [2]:
allEmail = ['abc@gmail.com','abc@gmail.com','abc@gmail.com','abc@gmail.com','abc@yahoo.com','abc@yahoo.com']
gMail = [email for email in allEmail if 'gmail' in email]
gMail

['abc@gmail.com', 'abc@gmail.com', 'abc@gmail.com', 'abc@gmail.com']