## tuple

In [3]:
t1 = (1,2,3,4)

In [4]:
type(t1)

tuple

In [5]:
5 + -5

0

In [6]:
5 + --5 # int and int

10

In [7]:
5 + (15) # int and int, similar to maths

20

In [8]:
try:
    5 + (15,) # int and tuple
except Exception as e:
    print(f'error: {e}')

error: unsupported operand type(s) for +: 'int' and 'tuple'

In [9]:
t2 = 5
type(t2)

int

In [10]:
t2 = (5)
type(t2)

int

In [11]:
t3 = (5,) # for a single element
type(t3)

tuple

In [12]:
try:
    t4 = tuple(5)
except Exception as e:
    print(f'error: {e}')

error: 'int' object is not iterable

In [13]:
t4 = tuple(range(5))

In [14]:
t4

(0, 1, 2, 3, 4)

### Can we iterate over a single element?

In [15]:
# Yes. We use list
li = [5]

for elem in li:
    print(elem)

5

### We can also do this with tuple.

In [16]:
t10 = tuple(li)
t10

(5,)

In [17]:
for elem in t10:
    print(elem)

5

In [18]:
t11 = (1,2,3,4)
t12 = (1,'karan',5,10,[1,2])

In [19]:
print(t11)
print(t12)
print(type(t11))
print(type(t12))

(1, 2, 3, 4)
(1, 'karan', 5, 10, [1, 2])
<class 'tuple'>
<class 'tuple'>

In [20]:
t11[1]

2

In [21]:
t12[4][1]

2

In [22]:
t11[-1]

4

In [23]:
t13 = (1,1)

In [24]:
type(t13)

tuple

In [25]:
t13

(1, 1)

In [26]:
try:
    t12[2] = 6
except Exception as e:
    print(f'error encountered: {e}')

error encountered: 'tuple' object does not support item assignment

In [27]:
try:
    t12[4] = [1,2,3]
except Exception as e:
    print(f'error encountered: {e}')

error encountered: 'tuple' object does not support item assignment

In [28]:
t14 = (1,2,3,[[1,2],3])

In [29]:
try:
    t14[3][0][1] = 6 # Elements nested inside list which is nested in tuple can be changed
except Exception as e:
    print(f'error encountered: {e}')

In [30]:
t14[3][0][1]

6

In [31]:
t14

(1, 2, 3, [[1, 6], 3])

In [32]:
## Re-assignment is possible
t14 = (1,2,3)

In [33]:
t14

(1, 2, 3)

In [34]:
t14 = t12[0:2]
t14

(1, 'karan')

In [35]:
## Can have tuple inside tuple
t5 = ((1,2),3,4)

In [36]:
t5

((1, 2), 3, 4)

### How things are stored in tuple.

In [37]:
t15 = (1,2,3,[[5,6],9])

In [38]:
t15

(1, 2, 3, [[5, 6], 9])

In [39]:
a = 1
b = 5

In [40]:
id(a)

140703500683704

In [41]:
id(1)

140703500683704

In [42]:
id(b)

140703500683832

In [43]:
for i in t15:
    print(id(i))

140703500683704
140703500683736
140703500683768
2990786996480

### Observations:

- The first element is 1, which is having the same reference as a or the value 1

- Observe the last element's reference

#### EXCP - The element inside list in a tuple can be changed as the reference remain the same.

In [44]:
t15[3][0][1] = 15

In [45]:
t15

(1, 2, 3, [[5, 15], 9])

In [46]:
for i in t15:
    print(id(i))

140703500683704
140703500683736
140703500683768
2990786996480

### Observation:

- The last reference still remains the same.

### Then how do we test tuple immutability?

In [47]:
try:
    t15[1] = 15 # This will get a new ID and this ID then try to get stored in tuple
except Exception as e:
    print(f'error encountered: {e}')

error encountered: 'tuple' object does not support item assignment

In [48]:
t16 = (1,2,3,[[5,6],9],[1,2])

In [49]:
try:
    t16[4] = [11,12] # This will get a new ID and this ID then try to get stored in tuple
except Exception as e:
    print(f'error encountered: {e}')

error encountered: 'tuple' object does not support item assignment

In [52]:
try:
    t16[4][0] = [11,12] # This works as we are changing inside a list which is inside the tuple. Reference remains same.
except Exception as e:
    print(f'error encountered: {e}')
finally:
    print(t16)

(1, 2, 3, [[5, 6], 9], [[11, 12], 2])

In [53]:
li = [1,2,3,(4,5)]

In [54]:
li[2] = (1,2)

In [55]:
li

[1, 2, (1, 2), (4, 5)]

In [58]:
try:
    li[3][0] = 1 # this doesn't work as you are trying to change an element inside a tuple
except Exception as e:
    print(f'error encountered: {e}')

error encountered: 'tuple' object does not support item assignment

In [59]:
li = [1,2,3,t16]

In [60]:
li

[1, 2, 3, (1, 2, 3, [[5, 6], 9], [[11, 12], 2])]

In [62]:
li[3][3][0][1]

6

## Packing and unpacking

In [ ]:
# Packing
a = 1,2,3,4 # By default, Python handles a lot of things in tuple as it is fast

In [67]:
type(a)

tuple

In [68]:
a

(1, 2, 3, 4)

#### Unpacking

In [69]:
w,x,y,z = a

In [70]:
print(w,x,y,z,sep="\n")

1
2
3
4

## Function for tuple

- len()
- max()
- min()
- sum()
- sorted()
- any()
- all()
- tuple()

In [1]:
t1 = (1,2,3,4)
t2 = (1,"python",5.0,True)
t3 = ('a','b','c')

### Membership in tuple

In [2]:
'py' in t2

False

In [3]:
'python' in t2

True

In [4]:
'a' in t3

True

### len()

In [5]:
len(t2)

4

### sum()

In [6]:
sum(t1)

10

In [7]:
try:
    sum(t2)
except Exception as e:
    print(f'error encountered: {e}')

error encountered: unsupported operand type(s) for +: 'int' and 'str'

In [8]:
t3

('a', 'b', 'c')

In [9]:
try:
    sum(t3)
except Exception as e:
    print(f'error encountered: {e}')

error encountered: unsupported operand type(s) for +: 'int' and 'str'

### min()

In [10]:
min(t1)

1

In [14]:
try:
    print(min(t3))
except Exception as e:
    print(f'error encountered: {e}')

a

In [15]:
try:
    print(min(t2))
except Exception as e:
    print(f'error encountered: {e}')

error encountered: '<' not supported between instances of 'str' and 'int'

### max()

In [16]:
max(t1)

4

In [17]:
try:
    print(max(t2))
except Exception as e:
    print(f'error encountered: {e}')

error encountered: '>' not supported between instances of 'str' and 'int'

In [18]:
t4 = [0j,1 ,'mayank']

In [19]:
any(t4)

True

In [20]:
all(t4)

False

## Concatenation in Tuple

In [26]:
t1 = (1,2,3,4)
t2 = (1,"python",5.0,True)
t3 = ('a','b','c')

In [33]:
t1

(1, 2, 3, 4, 1, 'python', 5.0, True)

In [34]:
t2

(1, 'python', 5.0, True)

In [36]:
t5 = t1+t2

In [37]:
t5

(1, 2, 3, 4, 1, 'python', 5.0, True, 1, 'python', 5.0, True)

In [38]:
id(t1)

1186700342080

In [39]:
t1 = t1 + t2

In [40]:
t1

(1, 2, 3, 4, 1, 'python', 5.0, True, 1, 'python', 5.0, True)

In [41]:
id(t1)

1186700309216

In [42]:
id(t2)

1186700563440

In [43]:
t1

(1, 2, 3, 4, 1, 'python', 5.0, True, 1, 'python', 5.0, True)

In [44]:
t1*3

(1,
 2,
 3,
 4,
 1,
 'python',
 5.0,
 True,
 1,
 'python',
 5.0,
 True,
 1,
 2,
 3,
 4,
 1,
 'python',
 5.0,
 True,
 1,
 'python',
 5.0,
 True,
 1,
 2,
 3,
 4,
 1,
 'python',
 5.0,
 True,
 1,
 'python',
 5.0,
 True)

In [45]:
t2*3

(1, 'python', 5.0, True, 1, 'python', 5.0, True, 1, 'python', 5.0, True)

In [47]:
a = (1,2,3)
b = (4,5,6)

In [48]:
a>b

False

In [49]:
a = (1,2,3)
b = (4,5,6,7)

In [50]:
a>b

False

In [51]:
a = ('a','b','c')
b = ('x',)

In [52]:
a > b

False

In [53]:
ord('x')

120

In [54]:
ord('a')

97

### sorted()

In [56]:
t1 = (2,3,766,4)
t2 = (1,"python",5.0,True)
t3 = ('a','b','c')

In [57]:
sorted(t1)

[2, 3, 4, 766]

In [58]:
sorted(t1,reverse=1)

[766, 4, 3, 2]

## Methods in Tuple

1. index()  
2. count()

In [1]:
t1 = (1,2,3,4)
t2 = (1,"python",5.0,True)
t3 = ('a','b','c')

In [2]:
del(t1)

In [4]:
try:
    t1
except Exception as e:
    print(e)

name 't1' is not defined

In [5]:
t2.count('a')

0

In [6]:
t2.count(1)

2

In [7]:
t2

(1, 'python', 5.0, True)

In [8]:
t2.count(True)

2

In [9]:
t2.index(True)

0

In [10]:
t2.index('python')

1

In [15]:
t3 = (5,1,2,3,5,6,4,5)

In [16]:
t3.index(5,1)

4

In [17]:
t3.index(5,5)

7